*.exe
*.txt
*.meta


/Frontend/Temp/
/Frontend/Library/
/Frontend/ExportedObj/
/Frontend/obj/
/Frontend/*.svd
/Frontend/*.userprefs
/Frontend/*.csproj
/Frontend/*.pidb
/Frontend/*.suo
/Frontend/*.sln
/Frontend/*.user
/Frontend/*.unityproj
/Frontend/*.booproj